
{% extends 'app/base.html' %}
{% load static %}
{% block phanloai %}
<!-- End Banner Area -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-categories">
				<div class="head">Phân Loại Sách</div>
				

				<ul class="main-categories">
					{% for category in categories %}                    
					<li class="main-nav-list">
						<a href="{% url 'phanloai' %}?category={{ category.slug }}">{{ category.name }}</a>
											
						
					</li>
					{% endfor %}
				</ul>
				<script>
					function toggleCollapse(event, categoryId) {
						event.preventDefault();
						var element = document.getElementById('collapse_' + categoryId);
						if (element.classList.contains('show')) {
							element.classList.remove('show');
							element.setAttribute('aria-expanded', 'false');
						} else {
							element.classList.add('show');
							element.setAttribute('aria-expanded', 'true');
						}
					}
				</script>

			</div>
		</div>
		
		<div class="col-xl-9 col-lg-8 col-md-7">
			<!-- Start Filter Bar-->
			<div class="filter-bar d-flex flex-wrap align-items-center">
				<div class="sorting">
					<!-- Nội dung phần sorting -->
				</div>
				<div class="sorting mr-auto">
					<li> <a href="{% url 'phanloai' %}?phanloai={{ category.slug }}"> {{category.name}} </a></li>
					{% for category in sub_categories %}
						<li> <a href="{% url 'phanloai' %}?phanloai={{ category.slug }}">{{category.name}} </a></li>
					{% endfor %}
				</div>				
			</div>
			
			 <!--End Filter Bar -->

			<!-- Start Best Seller -->
			<section class="lattest-product-area pb-40 category-list">
				<div class="row">
					<!-- single product -->
					
				{% for product in products %}
					
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<img class="img-fluid" src="{{ product.ImageURL }}" class="card-img-top" alt="{{ product.name }}">
						<div class="product-details">
							<h6 class="card-title"><a href="{% url 'chitiet' %}?id={{ product.id }}">{{ product.name }}</a></h6>
							<h5 class="card-text">{{ product.price|floatformat:0 }} VND</h5>
							<div class="prd-bottom">
								<input type="hidden" class="quantity-input" value="1">
								<a  data-product={{product.id}}  data-action="addProduct"  class="social-info addProductDeltail ">
									<span class="ti-bag"></span>
									<p class="hover-text">Thêm vào Giỏ</p>
								</a>
								<a href="{% url 'chitiet' %}?id={{ product.id }}" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">Chi tiết</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:4 %}
				</div>
				<div class="row">
				{% endif %}
				{% endfor %}
				</div>
			</section>

			<!-- tach trang -->
			<div class="container">
				<div class="row justify-content-center">
					<ul class="d-flex">
						{% if page.has_previous %}
							<li class="page-item"><a class="page-link" href="?page=1">&laquo; Trang đầu</a></li>
							<li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Trang trước</a></li>
						{% endif %}
			
						{% for num in page.paginator.page_range %}
							<li class="page-item {% if num == page.number %}active{% endif %}">
								<a class="page-link" href="?page={{ num }}">{{ num }}</a>
							</li>
						{% endfor %}
			
						{% if page.has_next %}
							<li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Trang sau</a></li>
							<li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">Trang cuối &raquo;</a></li>
						{% endif %}
					</ul>
				</div>
			</div>

			<!-- End tach trang -->
		</div>
	</div>
</div>

{% endblock phanloai %}