{% extends 'app/base.html' %}

{% load static %}
{% block trangchu %}
<!-- start features Area -->

<div id="carouselExampleDark" class="carousel carousel-dark slide carousel-custom">
    <style>
        .carousel-custom {
            margin-bottom: 20px;
        }
    </style>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'app/images/peakpx.jpg'%}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


	<div class="product-container">
		<style>
			.product-container {
				width: 100%;
				overflow: hidden;
			 }
			 
			 .product {
				display: flex;
				align-items: center;
				animation: slideRight 10s linear infinite;
			 }
			 
			 @keyframes slideRight {
				0% {
				   transform: translateX(-100%);
				}
				100% {
				   transform: translateX(100%);
				}
			 }
		</style>
		
		<div class="product">
		
		<h3>Chào mừng đến với Leona-shop</h3>
	
		</div>
	</div>

 
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="recent-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Sản phẩm mới</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{% for product in recent_products %}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">

							<img class="img-fluid" src="{{ product.ImageURL }}" alt="">

							<div class="product-details">
								<h6>{{ product.name }}</h6>
								<div class="price">
									<h6>  {{ product.price_sale }}</h6>
									<h6 class="l-through">{{ product.price }}</h6>
								</div>
								<div class="prd-bottom">
                                    <input type="hidden" class="quantity-input" value="1">
									<a  data-product={{product.id}}  data-action="addProduct"  class="social-info addProductDeltail ">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm vào Giỏ</p>
                                    </a>
                                    <a href="{% url 'chitiet' %}?id={{ product.id }}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Chi tiết</p>
                                    </a>
                                </div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="view-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Nhiều Lượt Xem</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{% for product in view_products %}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">

							<img class="img-fluid" src="{{ product.ImageURL }}" alt="">
							<div class="product-details">
								<h6>{{ product.name }}</h6>
								<div class="price">
									<h6>  {{ product.price_sale }}</h6>
									<h6 class="l-through">{{ product.price }}</h6>
								</div>

								<div class="prd-bottom">
                                    <input type="hidden" class="quantity-input" value="1">
									<a  data-product={{product.id}}  data-action="addProduct"  class="social-info addProductDeltail ">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm vào Giỏ</p>
                                    </a>
                                    <a href="{% url 'chitiet' %}?id={{ product.id }}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Chi tiết</p>
                                    </a>
                                </div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>



    <section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="images/features/f-icon1.png" alt="">
						</div>
						<h6>Giao hàng miễn phí</h6>
						<p>Miễn phí vận chuyển cho mọi đơn hàng</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="images/features/f-icon2.png" alt="">
						</div>
						<h6>Chính sách hoàn trả</h6>
						<p>Miễn phí vận chuyển cho mọi đơn hàng</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="images/features/f-icon3.png" alt="">
						</div>
						<h6>Hỗ trợ 24/7</h6>
						<p>Miễn phí vận chuyển cho mọi đơn hàng</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="images/features/f-icon4.png" alt="">
						</div>
						<h6>Thanh toán an toàn</h6>
						<p>Miễn phí vận chuyển cho mọi đơn hàng</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

{% endblock trangchu %}